<%- include('header') -%>

<h1 class = "head">Söluskrá</h1>

<div class="houses">
  <% if (list.length === 0) { %>
    <p>Engar fasteignir.</p>
  <% } %>

  
  <% list.forEach((house) => { %>
    <div class="house">
      <h2><%= house.name %></h2>
      <div class = "img-effect">
        <a href="/houses/<%= house.id %>">
          <img src= "<%= house.img %>">
        </a>
      </div>
      <div class = "description">
        <div class = "left"> 
         <p>Verð: <%= house.price %>.- Kr</p>
         <p>Gerð: <%= house.type %></p>
         <p>Stærð: <%= house.size %> m²</p>
        </div>
        <div class = "right"> 
          <p>Herbergi: <%= house.rooms %></p>
          <p>Byggt: <%= house.year %></p>
          <% if (house.sold) { %>
            <p>Selt: Já</p>
              <% } else { %>
                <p>Selt: Nei</p>
              <% } %>
        </div>
      </div>
  

    <div class = "action">  
      <div class="sell">
        <% if(typeof user !== 'undefined' && user.admin){ %>
          <% if (house.sold) { %>
            ✓ Fasteign seld 
          <% } else { %>
            <form method="post" action="/houses/update">
              <input type="hidden" name="id" value="<%= house.id %>">
              <button>Uppfæra sölu</button>
            </form>
          <% } %>
        <% } %>
      </div>
        <div class="delete">
            <% if(typeof user !== 'undefined' && user.admin){ %>
          <form method="post" action="/houses/delete">
            <input type="hidden" name="id" value="<%= house.id %>">
            <button>Eyða</button>
            <% } %>
          </form>
        </div>
      </div>
    </div>
  <% }); %>  
</div>


<%- include('footer') -%>