<%- include('header') -%>

<h1 class = "head">Nýtt lykilorð</h1>

<form method="post" action="/newpassword">

  <div class="field<%= locals.isInvalid('email', errors) ?  ' field--invalid' : '' %>">
    <label for="email">Netfang</label>
    <input type="text" name="email" id="email" value="<%= email %>" class="">
  </div>
  <div class="field<%= locals.isInvalid('username', errors) ?  ' field--invalid' : '' %>">
    <label for="username">Notendanafn</label>
    <input type="text" name="username" id="username" value="<%= username %>" class="">
  </div>
  <div class="field<%= locals.isInvalid('password', errors) ?  ' field--invalid' : '' %>">
    <label for="password">Lykilorð</label>
    <input type="password" name="password" id="password" value="<%= password %>" class="">
  </div>
  <div class="field<%= locals.isInvalid('password', errors) ?  ' field--invalid' : '' %>">
    <label for="passwordConfirm">Lykilorð, aftur</label>
    <input type="password" name="passwordConfirm" id="passwordConfirm" value="<%= passwordConfirm %>" class="">
  </div>
  <div class = "field">
      <label for = "security">Öryggisspurning</label>
      <select name="security" id="security" value="<%= security %>" class="">
          <option value="pet">Hvað er nafnið á uppáhalds gæludýrinu þínu?</option>
          <option value="movie">Hver er uppáhalds bíómyndin þín?</option>
          <option value="family">Hvert er millinafn mikilvægs fjölskyldumeðlims?</option>
          <option value="friend">Hvert er nafnið hjá æskuvini þínum?</option>
          <option value="videogame">Hver er uppáhalds tölvuleikurinn þinn?</option>
        </select>
      </div>
      <div class="field<%= locals.isInvalid('safety', errors) ?  ' field--invalid' : '' %>">
          <label for="safety">Öryggissvar</label>
          <input type="password" name="safety" id="safety" value="<%= safety %>" class="">
        </div>     


  <% if (errors.length > 0) { %>
    <h2>Vandræði við að gera nýtt lykilorð:</h2>
    <ul class="errors">
      <% errors.forEach((error) => { %>
        <li class="error"><label for="<%= error.param %>"><%= error.msg %></label></li>
      <% }); %>
    </ul>
  <% } %>

  <button>Setja nýtt lykilorð</button>
</form>

<%- include('footer') -%>